\documentclass[12pt]{jarticle}
\usepackage[dvipdfmx]{graphicx}
\usepackage{verbatim}
\usepackage{plext}
\pagestyle{empty}
\setlength{\textwidth}{100truemm}
\setlength{\hoffset}{0in}
\setlength{\voffset}{0truemm}
\setlength{\headheight}{0truemm}
\setlength{\headsep}{0truemm}
\setlength{\oddsidemargin}{0truemm}
\setlength{\textheight}{148truemm}
\setlength{\topmargin}{0truemm}
\advance\oddsidemargin -1in
\advance\topmargin -1in
\setlength{\footskip}{0truemm}
\begin{document}
\setlength{\unitlength}{1truemm}

{{#address}}

\begin{picture}(100,148)(0,0)
    \put(41,127){\fontsize{24pt}{0pt}{\mcfamily { {{no1}} } } }
    \put(47.5,127){\fontsize{24pt}{0pt}{\mcfamily { {{no2}} } } }
    \put(54,127){\fontsize{24pt}{0pt}{\mcfamily { {{no3}} } } }
    \put(62,127){\fontsize{24pt}{0pt}{\mcfamily { {{no4}} } } }
    \put(68.5,127){\fontsize{24pt}{0pt}{\mcfamily { {{no5}} } } }
    \put(75,127){\fontsize{24pt}{0pt}{\mcfamily { {{no6}} } } }
    \put(81.5,127){\fontsize{24pt}{0pt}{\mcfamily { {{no7}} } } }
    {{#address3}}
    \put(76,28){\vbox{\hsize=9.9cm\tate\fontsize{15pt}{0pt}{\mcfamily { {{address}} } } } }
    \put(68,15){\vbox{\hsize=9.9cm\tate\fontsize{15pt}{0pt}{\mcfamily { {{address2}} } } } }
    \put(60,-30){\vbox{\hsize=9.9cm\tate\fontsize{15pt}{0pt}{\mcfamily { {{address3}} } } } }
    {{/address3}}
    {{^address3}}
    {{#address2}}
    \put(76,28){\vbox{\hsize=9.9cm\tate\fontsize{15pt}{0pt}{\mcfamily { {{address}} } } } }
    \put(68,15){\vbox{\hsize=9.9cm\tate\fontsize{15pt}{0pt}{\mcfamily { {{address2}} } } } }
    {{/address2}}
    {{^address2}}
    \put(70,28){\vbox{\hsize=9.9cm\tate\fontsize{15pt}{0pt}{\mcfamily { {{address}} } } } }
    {{/address2}}
    {{/address3}}
    {{#first_name2}}
    \put(45,20){\vbox{\tate\fontsize{36pt}{0pt}{\mcfamily {{last_name}}} } }
    \put(45,-25){\vbox{\tate\fontsize{36pt}{0pt}{\mcfamily {{first_name1}} 様} } }
    \put(30,-25){\vbox{\tate\fontsize{36pt}{0pt}{\mcfamily {{first_name2}} 様} } }
    {{/first_name2}}
    {{^first_name2}}
    \put(43,20){\vbox{\tate\fontsize{36pt}{0pt}{\mcfamily {{last_name}}} } }
    \put(43,-25){\vbox{\tate\fontsize{36pt}{0pt}{\mcfamily {{first_name1}} 様} } }
    {{/first_name2}}
\end{picture}

{{/address}}

\end{document}

