[MASTER]
ignore=setup.py,docs/source/conf.py

[MESSAGES CONTROL]
disable=
        too-few-public-methods,
        too-many-public-methods,
		too-many-instance-attributes,
        superfluous-parens,
        no-self-use
